@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@600&family=Poppins:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500&family=Roboto:wght@400;500;700;900&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

ul li {
    list-style: none;
}

.container {
    max-width: 870px;
    width: 100%;
    margin: 0 auto;
}

/* header-area */
.header-area {
    padding: 20px 0px;
    background-color: #562EFF;
    font-family: 'Poppins', sans-serif;
}

.top-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.top-bar .logo {
    display: flex;
    align-items: center;
}

.top-bar .logo img {
    width: 42px;
    height: 51px;
}

.top-bar .logo h4 {
    font-size: 24px;
    font-weight: 500;
    line-height: 36px;
    color: #FFFFFF;
    margin-left: 15px;
}

.list ul {
    display: flex;
    align-items: center;
}

.top-bar .list ul li a {
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    color: #FFFFFF;
}

.top-bar .list ul li {
    margin-left: 35px;
}

/* top-players-and-top-blog-area */
main {
    background-color: #E5E5E5;
}

.top-players-top-blog-area {
    font-family: 'Poppins', sans-serif;
    padding-top: 36px;
    border-radius: 5px;
}

.top-player-parrent {
    padding: 33px 30px 33px 33px;
    background-color: #FFFFFF;
}

.player-title h2 {
    font-size: 24px;
    font-weight: 500;
    line-height: 36px;
    color: #562EFF;
    margin-bottom: 40px;
}

.top-palyer-content {
    display: grid;
    gap: 30px;
    grid-template-columns: repeat(3, 1fr);
    border-bottom: 1px solid #D1D1D1;
    padding-bottom: 25px;
}

.player-info {
    display: flex;
    align-items: center;
}

.player-info img {
    width: 56px;
    height: 56px;
}

.player-info h3 {
    font-size: 18px;
    font-weight: 500;
    line-height: 27px;
    color: #000000;
    margin-left: 16px;
}

/* top-blog-area */

.blog-title h2 {
    font-size: 24px;
    font-weight: 500;
    line-height: 36px;
    color: #562EFF;
    margin-bottom: 30px;
}

.blog-content .blog-info img {
    width: 177px;
    height: 117px;
}

.blog-content {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 26px;
}

.blog-content .blog-info {
    display: flex;
    align-items: center;
}

.blog-info .content {
    margin-left: 16px;
}

.blog-info .content h4 {
    font-size: 20px;
    font-weight: 500;
    line-height: 34px;
    color: #000000;
}

.top-blog-parrent {
    padding: 0px 30px 33px 33px;
    background-color: #FFFFFF;
}

/* latest-courses-area */
.latest-course-area {
    padding-top: 21px;
}

.courses-parrent {
    display: flex;
    gap: 25px;
    padding: 20px 28px;
    background: #FFFFFF;
    border-radius: 5px;
}

.subject-content img {
    width: 100%;
}

.subject-content {
    padding: 13px 16px 16px 11px;
    background: #FFFFFF;
    border-radius: 10px;
    filter: drop-shadow(0px 5.34229px 13.3557px rgba(0, 0, 0, 0.05));
}

.subj-heading h2 {
    font-size: 20.0336px;
    line-height: 23px;
    font-weight: 500;
    font-family: 'Roboto';
    color: #1E1E1E;
    margin-bottom: 5px;
}

.subj-heading p {
    font-size: 14.6913px;
    font-weight: 400;
    line-height: 17px;
    font-family: 'Roboto';
    color: #ED6B4F;
}

.time-and-rating {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 13px;
}

.rating-icon i {
    color: #FFC014;
    font-size: 12px;
}

.rating-icon .gray {
    color: #AEAEAE;
}

.rating-icon span {
    font-family: 'Poppins';
    font-weight: 400;
    font-size: 14.6913px;
    line-height: 22px;
    color: #A2A2A2;
    margin-left: 12px;
}

.time p i {
    margin-right: 6px;
}

.time p {
    font-family: 'Open Sans';
    font-weight: 600;
    font-size: 14.6913px;
    line-height: 20px;
    color: #FF4A60;
    padding: 5px 6px;
    background: #FEE5DF;
    border-radius: 14.6913px;
}

/* responsive-area */
@media only screen and (max-width:576px){
    .header-area {
        padding: 10px 10px;
    }
    .top-bar .list ul li {
        margin-left: 10px;
    }
    .top-palyer-content {
        gap: 20px;
        grid-template-columns: repeat(1, 1fr);
    }
    .player-title h2 {
        margin-bottom: 25px;
    }
    .blog-content {
        grid-template-columns: repeat(1, 1fr);
        gap: 30px;
    }
    .courses-parrent {
        flex-direction: column;
    }
}
@media screen and (min-width: 577px) and (max-width: 875px){
    .header-area {
        padding: 20px 20px;
    }
    .top-palyer-content {
        grid-template-columns: repeat(2, 1fr);
    }
    .blog-content {
        grid-template-columns: repeat(1, 1fr);
        gap: 30px;
    }
    .courses-parrent {
        flex-direction: column;
    }
    .subj-heading {
        margin-top: 15px;
    }
}